.mainSection {
  padding: 24px;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.system {
  height: 100%;
  flex: 1.5 1;
  display: flex;
}
.prompts {
  height: 100%;
  flex: 3 1;
  padding-left: 24px;
  display: flex;
}
.settings {
  height: 100%;
  width: calc(192px + 24px);
  padding-left: 24px;
  display: flex;
  box-sizing: border-box;
}
.separator {
  display: none;
}

@media screen and (max-width: 649px) {
  .mainSection {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .mainSection {
    flex-direction: column;
  }
  .system {
    flex: 1.5 1;
  }
  .prompts {
    padding-left: 0;
  }
  .separator {
    background-color: #f7f7f8;
    border-bottom: 1px solid #d9d9e3;
    border-top: 1px solid #d9d9e3;
    display: block;
    height: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 999px) {
  .settings {
    display: none;
  }
}
