.mainSection {
  padding: 24px;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.system {
  height: 100%;
  flex: 1.5 1;
  display: flex;
}
.prompts {
  height: 100%;
  flex: 3 1;
  padding-left: 24px;
  display: flex;
}
.settings {
  height: 100%;
  width: 216px;
  padding-left: 24px;
  display: flex;
  box-sizing: border-box;
}
.showSidebar {
  display: flex;
}
.hideSidebar {
  display: flex;
}
.separator {
  display: none;
}

@media screen and (max-width: 649px) {
  .mainSection {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .mainSection {
    flex-direction: column;
  }
  .prompts {
    padding-left: 0;
  }
  .separator {
    background-color: #f7f7f8;
    border-bottom: 1px solid #d9d9e3;
    border-top: 1px solid #d9d9e3;
    display: block;
    height: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 999px) {
  .settings {
    height: 100%;
    width: 100%;
    padding-left: 0px;
    position: fixed;
    inset: 0;

    z-index: 30;
    justify-content: flex-end;
    opacity: 0.3s;
  }
  .showSidebar {
    display: flex !important;
    animation: fadeIn 0.3s both 1;
  }
  .hideSidebar {
    animation: fadeOut 0.3s both 1;
    display: none !important;
  }
}

@keyframes fadeIn {
  from {
    background: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.7);
  }
  to {
    background: transparent;
    display: none;
  }
}
