.error {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fdebeb;
  align-items: flex-start;
  color: #565869;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  overflow: auto;
  padding: 20px 20px 18px;
  white-space: pre-line;
  z-index: 2;
}
.errorIcon {
  height: 22px;
  width: 22px;
  margin-right: 12px;
  margin-top: 1px;
}
.errorText {
  margin: 0;
  color: #565869;
  font-size: 16px;
}
.errorText > a {
  color: #10a37f;
  text-decoration: none;
}
.errorText > a:hover {
  color: #1a7f64;
}
