.navbar {
  background: white;
  border-bottom: 1px solid #ececf1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.navbarInner {
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainLinks {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 24px;
}
.link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6e6e80;
  text-decoration: none;
  margin-right: 24px;
  cursor: pointer;
  text-decoration-thickness: auto;
}
.link:hover {
  color: #353740;
}
.link:last-child {
  margin-right: 0;
}
.greenLink {
  color: #10a37f;
}
.greenLink:hover {
  color: #10a37f;
}
.sideLink {
  display: flex;
  align-items: center;
}
.hambergerIcon {
  display: none;
}
@media screen and (max-width: 980px) {
  .logo {
    margin-right: 0;
  }
  .link {
    display: none !important;
  }
  .hambergerIcon {
    display: inline-block;
  }
}
